* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 800px;
  background: url("../img/bg/main_bg.png") center center/cover no-repeat;
  padding: 38px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 9.5px;
}

h1 {
  margin-top: 53px;
}

.title {
  font-weight: 900;
  font-size: 41px;
  color: #f9bf3b;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 20.5px;
}

.simple .title_big {
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 20.5px;
}

.promo .promo_text {
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  padding: 0 13px;
  margin-top: 22.5px;
}

.promo .promo_text span {
  font-weight: 700;
  color: #f9bf3b;
}

.promo .promo_btn,
.gift .gift_btn {
  display: block;
  margin: 0px auto;
  margin-top: 72px;
  width: 313px;
  height: 72px;
  background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 70.5px;
}

.more .more_text {
  font-weight: 100;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 4.49px;
}

.waiting {
  min-height: 607px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #252525;
  text-align: center;
}

.finish .finish_header {
  color: #efefef;
}

.waiting .waiting_divider,
.finish .finish_divider {
  margin: 0 auto;
  margin-top: 18px;
  width: 220px;
  height: 7px;
  background: #f9bf3b;
}

.waiting .waiting_subheader {
  font-weight: 400;
  font-size: 23px;
  color: #4a4a4a;
  text-align: center;
  margin-top: 18.5px;
}

.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 369px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_description {
  margin-top: 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #4a4a4a;
}

.optimization {
  min-height: 547px;
  padding: 108px 0 74px 0;
}

.optimization .optimization_header {
  margin-left: 391px;
  font-weight: 900;
  font-size: 27px;
  align-items: center;
  text-transform: uppercase;
  color: #299cbd;
}

.optimization .optimization_text {
  margin-top: 15px;
  margin-left: 391px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}

.optimization .optimization_text span {
  font-weight: 700;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}

.optimization .optimization_img {
  position: absolute;
  top: -47px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 68.5px 0;
  background: url(../img/bg/second_bg.jpg) center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 234px;
}

.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 118px;
  height: 118px;
  background: #b4e2ff;
  border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descriprion {
  margin-top: 24.5px;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #efefef;
}

.gift {
  min-height: 631px;
  padding: 86px 0 88px 0;
  background: #efefef;
}

.gift .gift_img {
  height: 174px;
  width: 154px;
  display: block;
  margin: 0 auto;
}

.gift .gift_text {
  margin: 45px 0 51px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #252525;
}

.first_webinar {
  min-height: 512px;
  padding: 79px 0 0 0;
}

.first_webinar .first_webinar_img {
  display: block;
  margin: 0 auto;
}

.first_webinar .first_webinar_header {
  margin-top: 36px;
  font-weight: 400;
  font-size: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.first_webinar .first_webinar_data {
  margin-top: 30px;
  font-weight: 900;
  font-size: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #299cbd;
}

.first_webinar .first_webinar_write_down {
  margin-top: 24.5px;
  font-weight: 400;
  font-size: 23px;
  align-items: center;
  text-align: center;
  color: #4a4a4a;
}

footer {
  min-height: 169px;
  padding: 57px 0 69px 0;
  background: #1a1a1a;
}

.links {
  margin: 0 auto;
  width: 377px;
  text-align: center;
  color: #888888;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

footer a {
  color: #888888;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
